<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-4">
    <div class="container">
        <a href="" class="navbar-brand">User Manager</a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navBarToggler">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div id="navBarToggler" class="collapse navbar-collapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a href="" class="nav-link">Lista de usuários</a>
                </li>
                <li class="nav-item">
                    <a routerLink="user/form" class="nav-link">Cadastrar usuários</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
