<div class="container shadow border">
  <h1 class="text-center m-3">User registration</h1>
  <section class="flex flex-wrap">
    <form action="" [formGroup]="userForm">
      <div class="row my-4">
        <div class="form-floating mb-3 col">
          <input type="text" class="form-control" formControlName="name" id="floatingInput" placeholder="name">
          <label for="floatingInput">Name</label>
        </div>
        <div class="form-floating mb-3 col">
          <input type="text" class="form-control" formControlName="lastName" id="floatingInput" placeholder="lastName">
          <label for="floatingInput">Last name</label>
        </div>
      </div>
      <div class="row my-4">
        <div class="form-floating mb-3 col">
          <input type="number" class="form-control" formControlName="age" id="floatingInput" placeholder="age">
          <label for="floatingInput">Age</label>
        </div>
        <div class="form-floating mb-3 col">
          <input type="email" class="form-control" formControlName="email" id="floatingInput" placeholder="email">
          <label for="floatingInput">E-mail</label>
        </div>
      </div>
      <div class="row my-4">
        <div class="form-floating mb-3 col">
          <input type="text" class="form-control" formControlName="user" id="floatingInput" placeholder="user">
          <label for="floatingInput">User</label>
        </div>
        <div class="form-floating mb-3 col">
          <input type="password" class="form-control" formControlName="password" id="floatingInput" placeholder="password">
          <label for="floatingInput">Password</label>
        </div>
        <div class="row my-4">
          <div class="btn-group" role="group" aria-label="Basic example">
            <button type="button" class="btn btn-success" (click)="actionButton()" ><i class="bi bi-person-check-fill"></i> {{userID !== null ? 'Update':'Register'}}</button>
            <button type="button" class="btn btn-danger"><i class="bi bi-eraser-fill"></i> Clear Fields</button>
            <button type="button" class="btn btn-light"><i class="bi bi-box-arrow-left"></i> Back</button>
          </div>
        </div>
      </div>
    </form>
  </section>
</div>
