<div class="container shadow border">
  <h1 class="m-3 text-center">User list</h1>
  <div class="d-flex justify-content-between align-items-center">
    <button routerLink="/user/form" class="btn btn-success mb-2"><i class="bi bi-person-plus-fill"></i> New User</button>
    <p class="">Total: <span class="fw-bold text-danger">{{userTotal}}</span></p>
  </div>
  <table class="table table-striped">
    <thead class="table-dark">
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Age</th>
        <th scope="col">Email</th>
        <th scope="col">User</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of userList">
        <td>{{user.name}} {{user.lastName}}</td>
        <td>{{user.age}} Years</td>
        <td>{{user.email}}</td>
        <td>{{user.user}}</td>
        <td>
          <div class="btn-group">
            <button type="button" class="btn dropdown-toggle" data-bs-toggle="dropdown"
              aria-expanded="false">
              Action
            </button>

            <ul class="dropdown-menu">
              <li><a class="dropdown-item" class="text-danger" (click)="deleteUser(user.id)"><i class="bi bi-trash-fill"></i> Delete</a></li>
              <li><a class="dropdown-item" class="text-primary" [routerLink]="['/user/form', user.id]"><i class="bi bi-pencil-square"></i> Update</a></li>
            </ul>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
